/*..........NAVBAR.........*/
.navbar{
    display: flex;
    border: 1px solid rgb(3, 3, 3);
    background-color: rgb(24, 5, 47);
    width:100%;
    top:0;
    left:0;
    position:fixed;
}
.divtag
{
    display: flex;
     margin-left:600px; 
    
}
.divtag>h1
{
    margin: 20px;
    margin-left: 60px;
    color: rgb(20, 212, 234);
}
.logo
{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
/*..........FOOTER.........*/
footer
{
    width: 100%;
    height: 500px;
    background-color: rgb(24, 5, 47);
    background-color: rgb(24, 5, 47);
    color: aliceblue;
}

.firstbox
{
    display: flex;
}
.headinfooter
{
    border:1px solid rgb(246, 243, 243);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    margin-left: 250px;
}
.paratext2
{
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(32, 41, 222);
    -webkit-text-stroke:1px rgb(210, 225, 228) ;
    color: transparent;
    color:rgb(178, 194, 211);
}
.firstbox1
{
   display: flex;
}
.contactinfo
{
    margin-left: 100px;
}
.logo1
{
    width: 50px;
    height: 50px;
    margin-left: 80px;
    border: 1px solid white;
    border-radius: 10px;
}

.socialicons
{
 margin: 50px;
 margin-left: 400px;  
}
/* ........ExamPage....... */

.firsttext
{
    /* margin-left: 50px; */
    width: 90%;
    height: 400px;
    margin: auto;
    border: 1px solid black;
}
.btn
{
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    text-align: center;
    background-color: aqua;
    color: black;
    margin: 5px 200px 5px 200px;
    
}