/*..........NAVBAR.........*/
.navbar{
    display: flex;
    border: 1px solid rgb(3, 3, 3);
    background-color: rgb(24, 5, 47);
    width:100%;
    top:0;
    left:0;
    position:fixed;
}
.divtag
{
    display: flex;
     margin-left:600px; 
    
}
.divtag>h1
{
    margin: 20px;
    margin-left: 60px;
    color: rgb(20, 212, 234);
}
.logo
{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
/*..........FOOTER.........*/
footer
{
    width: 100%;
    height: 500px;
    background-color: rgb(24, 5, 47);
    background-color: rgb(24, 5, 47);
    color: aliceblue;
}

.firstbox
{
    display: flex;
}
.headinfooter
{
    border:1px solid rgb(246, 243, 243);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    margin-left: 250px;
}
.paratext2
{
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(32, 41, 222);
    -webkit-text-stroke:1px rgb(210, 225, 228) ;
    color: transparent;
    color:rgb(178, 194, 211);
}
.firstbox1
{
   display: flex;
}
.contactinfo
{
    margin-left: 100px;
}
.logo1
{
    width: 50px;
    height: 50px;
    margin-left: 80px;
    border: 1px solid white;
    border-radius: 10px;
}

.socialicons
{
 margin: 50px;
 margin-left: 400px;  
}
/* ........ExamPage....... */
.examimage
{
    width: 100%;
    height: 700px;
}
.instructions
{
    border: 1px solid black;
    width: 90%;
    height: 250px;
    margin: auto;
    margin-bottom: 10px;
}
.pre-text
{
    margin-top: 50px; 
    width: 70%;
    height: 550px;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 30px;
}
.firsttext
{
    margin:10px; 
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid black;
}
.btn
{
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(192, 214, 214);
    color: black;
    margin-left: 100px;
    margin-top: 5px;
}
.btn1
{
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    margin-top: 5px;
    text-align: center;
    background-color: aqua;
    color: black;
    margin-left: 640px;

}
.flex
{
    display: flex;
}
.quotionlist
{
    width: 62%;
    height: 120px;
    text-align: center;
    border: 1px solid black;
    margin: 10px 0px 0px 100px;
    display: flex;
    flex-wrap: wrap;
}
.box1
{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
}
.infocolor
{
    width: 16%;
    height: 120px;
    text-align: center;
    border: 1px solid black;
    margin: 10px 0px 0px 10px;
    display: flex;
    flex-wrap: wrap;
}
.checkboxes
{
    display: flex;
}
.check
{
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
}
.check1
{
    width: 30px;
    height: 30px;
    background-color: rgb(31, 236, 45);
    margin: 5px;
}
.submit
{
    width: 20%;
    height: 40px;
    background-color: aqua;
    border-radius: 5px;
    text-align: center;
    margin: 15px 0px 5px 400px;
}