.navbar{
    display: flex;
    border: 1px solid rgb(3, 3, 3);
    background-color: rgb(24, 5, 47);
    width:100%;
    top:0;
    left:0;
    position:fixed;
}
.divtag
{
    display: flex;
     margin-left:600px; 
    
}
.divtag>h1
{
    margin: 20px;
    margin-left: 60px;
    color: rgb(20, 212, 234);
}
.logo
{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.homeimage
{
    background-image: url(../../public/resources/mainImage.avif);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 1000px;
}
.certifybtn
{
    border: 1px solid black;
    background-color: pink;
    margin-left: 100px;
    border-radius: 10px;
    color: black;
    padding: 10px;
}
.textinhome
{
    margin-left: 100px;
    margin-top: 100px;
    color: aliceblue;
}
.paratext
{
    color: aliceblue;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(32, 41, 222);
    -webkit-text-stroke:1px rgb(99, 201, 219) ;
    color: transparent;
    color:rgb(76, 140, 165);
}
.paratext1
{
    color: aliceblue;
    padding: 10px;
    font-size: 45px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(32, 41, 222);
    -webkit-text-stroke:1px rgb(210, 225, 228) ;
    color: transparent;
    color:rgb(24, 25, 26);
}
.paratext2
{
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(32, 41, 222);
    -webkit-text-stroke:1px rgb(210, 225, 228) ;
    color: transparent;
    color:rgb(178, 194, 211);
}
.sidebox1
{
    margin-left: 50px;
}
#btn
{
    padding: 15px;
    background-color: aqua;
    margin-left: 30px;
    border-radius: 10px;
}
.middletopbox
{
    width: 1450px;
    height: 500px;
    display: flex;
    text-align: center;
}
.program1
{
    width: 250px;
    height: 200px;
    margin-top: 3px;
}
.program2
{
    margin-top: 50px;
}
.program
{
    border-radius: 50px;
    margin-left: 50px;
}
.topicsinfo
{
    width: 400px;
    height: 400px;
    margin: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.topicsinfo:hover
{
    background-color: deeppink;
    border: 1px solid aqua;
}
.middlebox
{
    display: flex;
}
.middledivimg
{
    width: 500px;
    height: 500px;
    margin-left: 300px;
}
.secondpartinthehomepage
{
   margin-top: 50px;
    text-align: center;
}
footer
{
    width: 100%;
    height: 500px;
    background-color: rgb(24, 5, 47);
    background-color: rgb(24, 5, 47);
    color: aliceblue;
}
.firstbox
{
    display: flex;
}
.headinfooter
{
    border:1px solid rgb(246, 243, 243);
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    margin-left: 250px;
}

.firstbox1
{
   display: flex;
}
.contactinfo
{
    margin-left: 100px;
}
.socialicons
{
 margin: 50px;
 margin-left: 400px;  
}
.logo1
{
    width: 50px;
    height: 50px;
    margin-left: 80px;
    border: 1px solid white;
    border-radius: 10px;
}
#demo
{
    margin-left: 250px;
}
.vediotag
{
    margin-left: 250px;
    width: 1000px;
}
